<header class="masthead" style="background-image: url(<%=asset_path('header_board.jpg')%>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading" style='    text-shadow: 1px 1px 5px #000;'>
          <img src="<%=asset_path('board.png')%>" width="200px">
          <span class="subheading">아무말 게시글을 남겨보세요!</span>
        </div>
      </div>
    </div>
  </div>
</header>