<header class="masthead" style="background-image: url(<%=asset_path('header_bus1.jpg')%>);">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading" style='    text-shadow: 1px 1px 5px #000;'>
          <img src="<%=asset_path('bus.png')%>">
          <span class="subheading">버스의 막차시간을 확인해보세요!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="info" style="background-image:url(https://i.pinimg.com/564x/37/3a/e7/373ae7167d2bd2f4d9a877f32e3b8b0e.jpg);">
  <img src="<%=asset_path('finalbus.png')%>" width="50%">
</div>