<header class="masthead" style="background-image: url(<%=asset_path('header_bus1.jpg')%>);">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading" style='    text-shadow: 1px 1px 5px #000;'>
          <img src="<%=asset_path('bus.png')%>">
          <span class="subheading">버스의 막차시간을 확인해보세요!</span>
        </div>
      </div>
    </div>
  </div>
</header>