<!DOCTYPE html>
<html>
  <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    .w3-third>.image>img{margin-bottom: -6px; opacity: 0.8; cursor: pointer; height:20em}
    .w3-third>.image>img:hover{opacity: 1}
    .w3-third>.image {position: relative; width:100%;}
    .w3-third>.image:hover {opacity:1}
    .w3-third>.image>.text{position:absolute; top:7em; width:100%; text-align:center;}
    .w3-third>.image>.text>h2{font-family: 'Gamja Flower', cursive; font-size:4em;}
    @media  screen and (max-width: 500px) {
    header.masthead{
      padding-top:2.5em;
      background-color:#110909;
    }
    header.masthead img{
      height:7.5em;
    }
	}
		.picturesize{
	  width:600px;
	  height:550px;
	}

  </style>
  <body class="w3-light-grey w3-content" style="max-width:1600px">
  <!-- Page Header -->
  <header class="masthead">
        <img src="<%=asset_path('header_event.jpg')%>" width="100%">
  </header>
  <!-- Sidebar/menu
  <nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold" id="mySidebar"><br>
    <h3 class="w3-padding-64 w3-center"><b>SOME<br>NAME</b></h3>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">PORTFOLIO</a> 
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT ME</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  </nav>
  -->
  <!-- Top menu on small screens
  <header class="w3-container w3-top w3-hide-large w3-white w3-xlarge w3-padding-16">
    <span class="w3-left w3-padding">SOME NAME</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
  </header>
   -->
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main">
    <a style="font-family: 'Hi Melody', cursive; text-align:center; display:block; font-size:1.6em">사진 위에 손을 올리면 선명해지고, 클릭하면 상세정보가 나옵니다!</a>
    <!-- Push down content on small screens 
    <div class="w3-hide-large" style="margin-top:83px"></div>
    --> 
    <!-- Photo grid -->
    <div class="w3-row">
      <div class="w3-third">
        <div class="image">
          <img src="/bubble.jpg" style="width:100%" onclick="onClick(this)" alt="버블풋살">
          <div class="text"><h2>버블풋살</h2></div>
        </div>
        <div class="image">
          <img src="/fun.jpg" style="width:100%" onclick="onClick2(this)" alt="펀 아처리">
          <div class="text"><h2>펀 아처리</h2></div>
        </div>
        <div class="image">
          <img src="/ghost.jpg" style="width:100%" onclick="onClick5(this)" alt="귀신을 잡아라">
          <div class="text"><h2>좀비을 잡아라</h2></div>
        </div>
        <div class="image">
          <img src="/jombe.jpg" style="width:100%" onclick="onClick8(this)" alt="좀비를 버텨랴">
          <div class="text"><h2>좀비를 버텨라</h2></div>
        </div>
        <div class="image">
          <img src="/singsurvive.jpg" style="width:100%" onclick="onClick11(this)" alt="개척가요제">
          <div class="text"><h2>개척가요제</h2></div>
        </div>
      </div>
  
      <div class="w3-third">
        <div class="image">
          <img src="/fight.jpg" style="width:100%" onclick="onClick14(this)" alt="영산쇠머리 대기 시연회">
          <div class="text"><h2>영산쇠머리 대기</h2></div>
        </div>
        <div class="image">
          <img src="/photozone.jpg" style="width:100%" onclick="onClick3(this)" alt="포토존">
          <div class="text"><h2>포토존</h2></div>
        </div>
        <div class="image">
          <img src="/depang.jpg" style="width:100%" onclick="onClick6(this)" alt="디스코 팡팡">
          <div class="text"><h2>디스코 팡팡</h2></div>
        </div>
        <div class="image">
          <img src="/movie.jpg" style="width:100%" onclick="onClick9(this)" alt="무대 돗자리 관람">
          <div class="text"><h2>무대 돗자리 관람</h2></div>
        </div>
        <div class="image">
          <img src="/foodtruck.jpg" style="width:100%" onclick="onClick12(this)" alt="푸드트럭">
          <div class="text"><h2>푸드트럭</h2></div>
        </div>
      </div>

      <div class="w3-third">
        <div class="image">
          <img src="/freemarket.jpg" style="width:100%" onclick="onClick1(this)" alt="플리마켓">
          <div class="text"><h2>플리마켓</h2></div>
        </div><div class="image">
          <img src="/clubfestival.jpg" style="width:100%" onclick="onClick4(this)" alt="동아리 초청공연">
          <div class="text"><h2>동아리 초청공연</h2></div>
        </div>
        <div class="image">
          <img src="/edmparty.jpg" style="width:100%" onclick="onClick7(this)" alt="EDM Party">
          <div class="text"><h2>EDM Party</h2></div>
        </div>
        <div class="image">
          <img src="/mrman.jpg" style="width:100%" onclick="onClick10(this)" alt="Mr.개척">
          <div class="text"><h2>Mr.개척</h2></div>
        </div>
        <div class="image">
          <img src="/mini.jpg" style="width:100%" onclick="onClick13(this)" alt="Mr.개척">
          <div class="text"><h2>미니 게임 천국</h2></div>
        </div>
      </div>
      
    </div>
  
    <!-- Pagination 
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>
    -->
   
    <!-- Modal for full size images on click모달모달모달모달모달모달-->
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <img class = "picturesize" src="/a1.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal03" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a3.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal04" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a4.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal05" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a5.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal06" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a6.png">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal07" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a7.png">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal08" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a8.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal09" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a9.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal010" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a10.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal011" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a11.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal012" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a12.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal013" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a13.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal014" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a14.png">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal015" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a15.jpg">
        <p id="caption"></p>
      </div>
    </div>
    <div id="modal016" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img03" class="w3-image">
        <img class = "picturesize" src="/a16.jpg">
        <p id="caption"></p>
      </div>
    </div>
  
    <!-- About section 
    <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
      <h4><b>About Me</b></h4>
      <img src="/w3images/avatar_hat.jpg" alt="Me" class="w3-image w3-padding-32" width="600" height="650">
      <div class="w3-content w3-justify" style="max-width:600px">
        <h4>My Name</h4>
        <p>Some text about me. I love taking photos of PEOPLE. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>mail: example@example.com</p>
        <p>tel: 5353 35531</p>
        <hr class="w3-opacity">
        <h4 class="w3-padding-16">Technical Skills</h4>
        <p class="w3-wide">Photography</p>
        <div class="w3-white">
          <div class="w3-container w3-padding-small w3-center w3-grey" style="width:95%">95%</div>
        </div>
        <p class="w3-wide">Web Design</p>
        <div class="w3-white">
          <div class="w3-container w3-padding-small w3-center w3-grey" style="width:85%">85%</div>
        </div>
        <p class="w3-wide">Photoshop</p>
        <div class="w3-white">
          <div class="w3-container w3-padding-small w3-center w3-grey" style="width:80%">80%</div>
        </div>
        <p><button class="w3-button w3-light-grey w3-padding-large w3-margin-top w3-margin-bottom">Download Resume</button></p>
        <hr class="w3-opacity">
  
        <h4 class="w3-padding-16">How much I charge</h4>
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half w3-margin-bottom">
            <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
              <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
              <li class="w3-padding-16">Web Design</li>
              <li class="w3-padding-16">Photography</li>
              <li class="w3-padding-16">5GB Storage</li>
              <li class="w3-padding-16">Mail Support</li>
              <li class="w3-padding-16">
                <h2>$ 10</h2>
                <span class="w3-opacity">per month</span>
              </li>
              <li class="w3-light-grey w3-padding-24">
                <button class="w3-button w3-white w3-padding-large">Sign Up</button>
              </li>
            </ul>
          </div>
          
          <div class="w3-half">
            <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
              <li class="w3-black w3-xlarge w3-padding-32">Pro</li>
              <li class="w3-padding-16">Web Design</li>
              <li class="w3-padding-16">Photography</li>
              <li class="w3-padding-16">50GB Storage</li>
              <li class="w3-padding-16">Endless Support</li>
              <li class="w3-padding-16">
                <h2>$ 25</h2>
                <span class="w3-opacity">per month</span>
              </li>
              <li class="w3-light-grey w3-padding-24">
                <button class="w3-button w3-white w3-padding-large">Sign Up</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    -->
    <!-- Contact section 
    <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
      <div class="w3-content" style="max-width:600px">
        <h4 class="w3-center"><b>Contact Me</b></h4>
        <p>Do you want me to photograph you? Fill out the form and fill me in with the details :) I love meeting new people!</p>
        <form action="/action_page.php" target="_blank">
          <div class="w3-section">
            <label>Name</label>
            <input class="w3-input w3-border" type="text" name="Name" required>
          </div>
          <div class="w3-section">
            <label>Email</label>
            <input class="w3-input w3-border" type="text" name="Email" required>
          </div>
          <div class="w3-section">
            <label>Message</label>
            <input class="w3-input w3-border" type="text" name="Message" required>
          </div>
          <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Send Message</button>
        </form>
      </div>
    </div>
    -->
    <!-- Footer 
    <footer class="w3-container w3-padding-32 w3-grey">  
      <div class="w3-row-padding">
        <div class="w3-third">
          <h3>INFO</h3>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>      
        </div>
      
        <div class="w3-third">
          <h3>BLOG POSTS</h3>
          <ul class="w3-ul">
            <li class="w3-padding-16 w3-hover-black">
              <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Lorem</span><br>
              <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16 w3-hover-black">
              <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Ipsum</span><br>
              <span>Praes tinci sed</span>
            </li> 
          </ul>
        </div>
        -->
        <!--
        <div class="w3-third">
          <h3>POPULAR TAGS</h3>
          <p>
            <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">London</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">DIY</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Family</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shopping</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Games</span>
          </p>
        </div>
      </div>
    </footer>
    
    <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>
    -->
  <!-- End page content -->
  </div>
  
  <script>
  // Script to open and close sidebar
  function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
  }
   
  function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
  }
  
  // Modal Image Gallery
  
   function onClick(aaa) {
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
   
    function onClick1(aaa) {
    document.getElementById("modal03").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
    function onClick2(aaa) {
    document.getElementById("modal04").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
    function onClick3(aaa) {
    document.getElementById("modal05").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
    function onClick4(aaa) {
    document.getElementById("modal06").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
    function onClick5(aaa) {
    document.getElementById("modal07").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
    function onClick6(aaa) {
    document.getElementById("modal08").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
    function onClick7(aaa) {
    document.getElementById("modal09").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
    function onClick8(aaa) {
    document.getElementById("modal010").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
    function onClick9(aaa) {
    document.getElementById("modal011").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
    function onClick10(aaa) {
    document.getElementById("modal012").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
    function onClick11(aaa) {
    document.getElementById("modal013").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
     function onClick12(aaa) {
    document.getElementById("modal014").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
   function onClick13(aaa) {
    document.getElementById("modal015").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }
   function onClick14(aaa) {
    document.getElementById("modal016").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = aaa.alt;
   }

  </script>
  
  
  </body>
</html>
