<header class="masthead" style="background-image: url(<%=asset_path('map_ni.png')%>)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading" style='    text-shadow: 1px 1px 5px #000;'>
          <img src="<%=asset_path('event.png')%>" width="200px">
          <span class="subheading">낮밤없이 이뤄지는 행사들을 확인해보세요!</span>
        </div>
      </div>
    </div>
  </div>
</header>