<style>
  .head>h1{
        text-align:center;
        margin-top:4%;
        margin-bottom:4%;
      }
  
	.w-100{
	  margin-right:13.3%;
       width: 30%;
       Height: 100%;
       float:right;
	}
	.day{
	  margin-left:10%;
	  width:80%;
	  Height:100%;
	}
  @media  screen and (max-width: 500px) {
    header.masthead{
      padding-top:2.5em;
      background-color:#420e0e;
    }
    header.masthead img{
      height:6.5em;
    }
  }
</style>
<script>
 $('.carousel').carousel('pause');
</script>

<header class="masthead">
      <img src="<%=asset_path('header_lineup.jpg')%>" width="100%">
</header>

    <div class="head">
      <h1>FESTIVAL LINE-UP</h1>
    </div>
    
    
    <div>

        <img class="day" src="<%=asset_path('first.png')%>" >

    </div>
    
  <div class="head">
      <h1>FESTIVAL LINE-UP</h1>
    </div>
    
    
  
    <div>
        <img class="day" src="<%=asset_path('second.png')%>" >
    </div>
    
  <div class="head">
      <h1>FESTIVAL LINE-UP</h1>
    </div>
    
    
    <div>
        <img class="day" src="<%=asset_path('third.png')%>" >
    </div>