<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
        body{
            background-color:black;
        }
            .fmic{
                margin-left:680px;
                margin-top:10px;
            }
            .fmi{
                margin-left:20px;
                width:400px;
                height:300px;
            }
        </style>
    </head>
    <body>
        <span style = " font-size:2em;  color:#D8D8D8; font-family: 'Cute Font', cursive;">&nbsp;&nbsp;좀.버.(10/18,19 18:00~23:00)</span>
       <div class="fmi">
         <img src="/dark.jpg">
       </div>
        <div class="fmic">
          <input class="btn btn-primary" type="button" value="close" onclick="self.close();">
        </div>
    </body>
</html>