<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .fmic{
                margin-left:690px;
                margin-top:30px;
            }
            .fmi{
                margin-left:10px;
                width:400px;
                height:300px;
            }
        </style>
    </head>
    <body>
        <span style = " font-size:2em;  color:#00FFFF; font-family: 'East Sea Dokdo', cursive;">&nbsp;&nbsp;EDM PARTY</span>
       <div class="fmi">
         <img src="/edm.jpg">
       </div>
        <div class="fmic">
          <input class="btn btn-primary" type="button" value="close" onclick="self.close();">
        </div>
    </body>
</html>