<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .fmic{
                margin-left:734px;
                margin-top:50px;
            }
            .fmi{
                margin-left:15px;
                width:100px;
                height:10px;
                margin-top:30px;
            }
             .fmi1{
                margin-left:525px;
                margin-top:10px;
            }
        </style>
    </head>
    <body>
        <span style = " font-size:1.7em;  color:#0101DF; font-family: 'Gugi', cursive;">&nbsp;&nbsp;펀 아처리(양궁서바이벌)(10/18 단 하루!)11:00~17:00</span>
       <div class="fmi">
         <img src="/archu.PNG">
       </div>
       <div class="fmi1">
         <img src="/arcu.png">
       </div>
        <div class="fmic">
          <input class="btn btn-primary" type="button" value="close" onclick="self.close();">
        </div>
    </body>
</html>