<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .fmic{
                margin-left:734px;
                margin-top:10px;
            }
            .fmi{
                margin-left:32px;
                width:400px;
                height:300px;
            }
        </style>
    </head>
    <body>
        <span style = " font-size:2em;  color:#FE9A2E; font-family:'Black Han Sans', sans-serif;;">&nbsp;&nbsp;미니 게임 천국!!(중앙도서관 앞)</span>
       <div class="fmi">
         <img src="/mini.jpg">
       </div>
        <div class="fmic">
          <input class="btn btn-primary" type="button" value="close" onclick="self.close();">
        </div>
    </body>
</html>