<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .fmic{
                margin-left:710px;
                margin-top:30px;
            }
            .fmi{
                margin-left:10px;
                width:400px;
                height:300px;
            }
        </style>
    </head>
    <body>
        <span style = " font-size:1.7em; font-family:'Cute Font', cursive;">&nbsp;&nbsp;영산쇠머리대기 시연회(10/18, 시간10:00~17:00 사이 )</span>
       <div class="fmi">
         <img src="/head.jpg">
       </div>
        <div class="fmic">
          <input class="btn btn-primary" type="button" value="close" onclick="self.close();">
        </div>
    </body>
</html>